{{>layout/header}}

<div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > 데이터 분석 > 샌드박스 관리 > 샌드박스 등록</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> <br>
                  <div class="scenario_depth"> 
                    <ul>
                      <li id="ps1" style="cursor:pointer" onclick="step1();">샌드박스 설정</li>
                      <li id="ps2" style="cursor:pointer" onclick="step2();">시나리오 선택</li>
                      <li id="ps3" style="cursor:pointer" onclick="step3();">분석 방식 선택</li>
                    </ul>
                  </div>
                  
					<div class="tab_item">  
                      <h3>샌드박스 분석 주기 정의 <span class="red">*</span></h3>
                      <div class="row" id="commonCodeAnalysisCycleSetting">
                      </div>
                      
	                  <div class="row">
	                    <div class="form-group row col-md-7">
	                    </div>
	                    <div class="col-md-2">
	                      <div class="form-control_box">
	                        <select class="form-control" id="commonCodeBatchCycle" onchange="selCodeBatchCycle(this.value);">
	                        </select>
	                      </div>
	                    </div>
	                    <div class="col-md-2">
	                      <div class="form-control_box">
	                        <select class="form-control" id="anals_period_dtl_value">
		                        <option value="">선택</option>
	                        </select>
	                      </div>
	                    </div>
	                  </div>    
	                  <br>
	                  <div class="row">
                        <div class="col-6 col-md-6 mx-0">
                        </div>	
                        <div class="col-6 col-md-6 mx-0">
                          <div class="table_responsive">
                            <table class="table table-striped table-bordered">
                              <colgroup> 
                                <col width="140px">
                              </colgroup>                              
                              <tbody id="div_B09002"> 
                                <tr> 
                                  <td>배치 수행 시작일</td>
                                  <td> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal" name="batch_exec_begin_date" type="text" name="reservation" value="">
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>	                  
	                  </div>        
	                            
                      <h3>분석 종류 선택 <span class="red">*</span></h3>
                      <div class="d-flex mb-4" id="commonCodeAnalysisKind"> 
                      </div>
                      <h3>분석 데이터 선택 <span class="red">*</span></h3>
                      <div class="row">
                        <div class="col-12 col-md-6 mx-0">
                          <h4 class="center_title">분석 데이터 기간 선택</h4>
                          <div class="table_responsive">
                            <table class="table table-striped table-bordered" id="div_B09001_B05001">
                              <thead>
                                <tr>
                                  <th>종류</th>
                                  <th>시작 일자 선택</th>
                                  <th>종료 일자 선택</th>
                                </tr>
                              </thead>
                              <tbody> 
                                <tr> 
                                  <td>일자</td>
                                  <td> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal1" type="text" name="reservation" value="">
                                      </div>
                                    </div>
                                  </td>
                                  <td> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal2" type="text" name="reservation" value="">
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table class="table table-striped table-bordered" id="div_B09002_B05001">
                              <thead>
                                <tr>
                                  <th>종류</th>
                                  <th>시작 일자 선택</th>
                                  <th>종료 일자 선택</th>
                                </tr>
                              </thead>
                              <tbody> 
                                <tr> 
                                  <td>일자</td>
                                  <td> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group">
				                        <select class="form-control" id="B16001_period_begin">
				                          <option>주기2</option>
				                        </select>
                                      </div>
                                    </div>
                                  </td>
                                  <td> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group">
				                        <select class="form-control" id="B16001_period_end">
				                          <option>주기2</option>
				                        </select>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 mx-0">
                          <h4 class="center_title">재학습 분석 데이터 선택 기간</h4>
                          <div class="table_responsive">
                            <table class="table table-striped table-bordered" id="div_B09001_B05002">
                              <colgroup> 
                                <col width="80px">
                              </colgroup>
                              <thead>
                                <tr>
                                  <th>종류</th>
                                  <th>일자선택</th>
                                </tr>
                              </thead>
                              <tbody> 
                                <tr> 
                                  <td>학습 데이터*</td>
                                  <td class="d-flex"> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal3" type="text" name="reservation" value="">
                                      </div>
                                    </div><span> ~ </span>
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal4" type="text" name="reservation" value="">
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr> 
                                  <td>검증 데이터*</td>
                                  <td class="d-flex"> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal5" type="text" name="reservation" value="">
                                      </div>
                                    </div><span> ~ </span>
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal6" type="text" name="reservation" value="">
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr> 
                                  <td>테스트 데이터*</td>
                                  <td class="d-flex"> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal7" type="text" name="reservation" value="">
                                      </div>
                                    </div><span> ~ </span>
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="single_cal8" type="text" name="reservation" value="">
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <table class="table table-striped table-bordered" id="div_B09002_B05002">
                              <colgroup> 
                                <col width="80px">
                              </colgroup>
                              <thead>
                                <tr>
                                  <th>종류</th>
                                  <th>일자선택</th>
                                </tr>
                              </thead>
                              <tbody> 
                                <tr> 
                                  <td>학습 데이터</td>
                                  <td class="d-flex"> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group">
				                        <select class="form-control" id="B17001_period_begin">
				                          <option>주기2</option>
				                        </select>
                                      </div>
                                    </div>
                                    <span> ~ </span>
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group">
				                        <select class="form-control" id="B17001_period_end">
				                          <option>주기2</option>
				                        </select>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr> 
                                  <td>검증 데이터</td>
                                  <td class="d-flex"> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group">
				                        <select class="form-control" id="B17002_period_begin">
				                          <option>주기2</option>
				                        </select>
                                      </div>
                                    </div>
                                    <span> ~ </span>
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group">
				                        <select class="form-control" id="B17002_period_end">
				                          <option>주기2</option>
				                        </select>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr> 
                                  <td>테스트 데이터</td>
                                  <td class="d-flex"> 
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group">
				                        <select class="form-control" id="B17003_period_begin">
				                          <option>주기2</option>
				                        </select>
                                      </div>
                                    </div>
                                    <span> ~ </span>
                                    <div class="form-control_box">
                                      <div class="input-prepend input-group">
				                        <select class="form-control" id="B17003_period_end">
				                          <option>주기2</option>
				                        </select>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="right_btns mt-6">
                        <button class="btn btn-primary" id="btn_B06002_1" style="display:none;" onclick="sandboxCreate();">승인</button>
                        <button class="btn btn-danger" id="btn_B06002_2" style="display:none;" >반려</button>                      
                        <button class="btn btn-warning" id="btn_B06001" style="display:none;" onclick="sandboxAnalysisMethodUpdate('B06001');">임시저장</button>
                        <button class="btn btn-primary" id="btn_B06002" style="display:none;" onclick="sandboxAnalysisMethodUpdate('B06002');">등록</button>
                        <button class="btn btn-danger" onclick="sandboxDelete();">삭제</button>
                        <button class="btn btn-primary" id="" onclick="list();">목록</button>
                      </div>
                    </div>
                                      
                </div>
              </div>
            </div>
          </div>
        </div>      
		<input type="hidden" name="sandbox_setup_status_cd" id="sandbox_setup_status_cd"/>
	    <input type="hidden" name="scenario_setup_status_cd" id="scenario_setup_status_cd"/>
	    <input type="hidden" name="anals_method_status_cd" id="anals_method_status_cd"/>
	    <input type="hidden" name="last_status_cd" id="last_status_cd"/>
	    <input type="hidden" name="sandbox_status_cd" id="sandbox_status_cd"/>
	    
{{>layout/footer}}        


<script>
document.title = "LX DT | 샌드박스 등록"; 
const commonUrl = '/sandbox/common';
const url = '/sandbox/sand/analysisSandbox';
let contents;
let codeContents;

const progressCd1 = 'B06001';	//등록 중
const progressCd2 = 'B06002';	//등록 완료

//분석 방식 선택 - 분석 주기 코드 조회
const commonCodeAnalysisCycleSetting = function (){
	const data = {
       		url: '/services/sandbox/common-code/analysis-cycle-setting',
        };		
        $.ajax({
            type: 'POST',
            url: commonUrl+'/commonCodeAnalysisCycleSetting',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
 		  	if (data != null) {
 		  	   	if(data.contents != ""){    	    	
					 $("#commonCodeAnalysisCycleSetting").empty();
					 
    				 let htmlData = '';  
	    	   		 $.each(data.contents, function (idx, el) {
	    	   			htmlData += '<div class="col-12 col-md-6 mx-0">';
	    	   			
	    	   			if(idx ==  0){
		    	   			htmlData += '  <h4 class="center_title"><label for="'+el.dtl_code+'"><input class="flat" id="'+el.dtl_code+'" type="radio" name="commonCodeAnalysisCycleSetting" onclick=div_show(this.value); value="'+el.dtl_code+'"> '+el.dtl_code_nm+'</label></h4>';
	    	   			}else{
		    	   			if('{{cd}}' == 'B01001'){
			    	   			htmlData += '  <h4 class="center_title"><label for="'+el.dtl_code+'"><input class="flat" id="'+el.dtl_code+'" type="radio" name="commonCodeAnalysisCycleSetting" onclick=div_show(this.value); value="'+el.dtl_code+'" disabled> '+el.dtl_code_nm+'</label></h4>';
		    	   			}else{
			    	   			htmlData += '  <h4 class="center_title"><label for="'+el.dtl_code+'"><input class="flat" id="'+el.dtl_code+'" type="radio" name="commonCodeAnalysisCycleSetting" onclick=div_show(this.value); value="'+el.dtl_code+'"> '+el.dtl_code_nm+'</label></h4>';
		    	   			}
	    	   			}
	    	   			
	    	   			htmlData += '</div>';
	 	     	     });
	    	   		 
	   	      	     $("#commonCodeAnalysisCycleSetting").append(htmlData);        	
 		  	   	}
 		  	   	
 		  	}
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });		
}

//분석 방식 선택 - 분석 종류 선택 코드 조회
const commonCodeAnalysisKind = function (){
	const data = {
       		url: '/services/sandbox/common-code/analysis-kind',
        };		
        $.ajax({
            type: 'POST',
            url: commonUrl+'/commonCodeAnalysisKind',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
 		  	if (data != null) {
 		  	   	if(data.contents != ""){    	    	
					 $("#commonCodeAnalysisKind").empty();
					 
    				 let htmlData = '';  
	    	   		 $.each(data.contents, function (idx, el) {
	    	   			if(idx == 0){
		    	   			htmlData += '<div class="radio mr-4"><label for="'+el.dtl_code+'"><input class="flat" id="'+el.dtl_code+'" type="radio" name="commonCodeAnalysisKind" onclick=div_sub_show(this.value); value="'+el.dtl_code+'">'+el.dtl_code_nm+'</label></div>';
	    	   			}else{
	    	   				if('{{cd}}' == 'B01001'){
	    	   					htmlData += '<div class="radio mr-4"><label for="'+el.dtl_code+'"><input class="flat" id="'+el.dtl_code+'" type="radio" name="commonCodeAnalysisKind" onclick=div_sub_show(this.value); value="'+el.dtl_code+'" disabled>'+el.dtl_code_nm+'</label></div>';
	    	   				}else{
	    	   					htmlData += '<div class="radio mr-4"><label for="'+el.dtl_code+'"><input class="flat" id="'+el.dtl_code+'" type="radio" name="commonCodeAnalysisKind" onclick=div_sub_show(this.value); value="'+el.dtl_code+'">'+el.dtl_code_nm+'</label></div>';
	    	   				}
	    	   			}
	 	     	     });
	    	   		 
	   	      	     $("#commonCodeAnalysisKind").append(htmlData);        	
 		  	   	}
 		  	   	
 		  	}
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });		
}

//주기성 
const selCodeBatchCycle = function(dtl_code){
	
	$("#anals_period_dtl_value").empty();
	
	$("#B16001_period_begin").empty();
	$("#B16001_period_end").empty();
	$("#B17001_period_begin").empty();
	$("#B17001_period_end").empty();
	$("#B17002_period_begin").empty();
	$("#B17002_period_end").empty();
	$("#B17003_period_begin").empty();
	$("#B17003_period_end").empty();
	
	let selOp = '';  
	let selOp2 = '';  
	if(dtl_code == 'B10001'){
	    for (var i = 1; i < 29; i++) {
	    	if(i < 10){
				selOp += '<option value=0'+i+'>' + i + '일</option>';
	    	}else{
				selOp += '<option value='+i+'>' + i + '일</option>';
	    	}
	    }		
	    selOp2 += '<option value="일자">일자</option>';
	}else if(dtl_code == 'B10002'){
	    for (var i = 0; i < 7; i++) {
			selOp += '<option value=0'+i+'>' + dayOfWeek(i) + '요일</option>';
	    }			
	    selOp2 += '<option value="요일">요일</option>';
	}else if(dtl_code == 'B10003'){
	    for (var i = 0; i < 24; i++) {
	    	if(i < 10){
				selOp += '<option value=0'+i+'>' + i + '시간</option>';
	    	}else{
				selOp += '<option value='+i+'>' + i + '시간</option>';
	    	}
	    }			
	    selOp2 += '<option value="시간">시간</option>';
	}else{
		selOp += '<option value="">선택</option>';
	    selOp2 += '<option value="선택">선택</option>';
	}
  	$("#anals_period_dtl_value").append(selOp);   	
  	
  	$("#B16001_period_begin").append(selOp);   	
  	$("#B16001_period_end").append(selOp);   
  	$("#B17001_period_begin").append(selOp);   	
  	$("#B17001_period_end").append(selOp);   
  	$("#B17002_period_begin").append(selOp);   	
  	$("#B17002_period_end").append(selOp);   
  	$("#B17003_period_begin").append(selOp);   	
  	$("#B17003_period_end").append(selOp);   
  	
}

//분석 방식 선택 - 배치 주기 코드 조회(주기1)
const commonCodeBatchCycle = function(){
	const data = {
       		url: '/services/sandbox/common-code/batch-cycle',
        };		
        $.ajax({
            type: 'POST',
            url: commonUrl+'/commonCodeBatchCycle',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
 		  	if (data != null) {
 		  	   	if(data.contents != ""){    	    	
					 $("#commonCodeBatchCycle").empty();
    				 let selOp = '<option value="">선택</option>';  
	    	   		 $.each(data.contents, function (idx, el) {
  	    					selOp += '<option value='+el.dtl_code+'>' + el.dtl_code_nm + '</option>';
	 	     	     });
		 	     	 $("#commonCodeBatchCycle").append(selOp);       	
 		  	   	}
 		  	   	
 		  	}
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });		
	
}

//분석 방식 선택 - 재학습 분석 데이터 선택 코드 조회
const commonCodeImagesDatasetsCode = function(){
	const data = {
       		url: '/services/sandbox/common-code/relearn-analysis-code',
        };		
        $.ajax({
            type: 'POST',
            url: commonUrl+'/commonCodeImagesDatasetsCode',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
 		  	if (data != null) {
 		  	   	if(data.contents != ""){    	    	
 			  	   	codeContents = data.contents;
 		  	   	}
 		  	}
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });		
}

//분석 방식 선택 - 시계열 분석 데이터 일자 조회
const sandboxAnalysisTableDatasetDetail = function(){

	const data = {
       		url: '/services/sandbox/sandboxes/{{sandbox_id}}/analysis-method/table-datasets/detail',
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',	            		
        };		
        $.ajax({
            type: 'POST',
            url: url+'/sandboxAnalysisTableDatasetDetail',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
 		  	if (data != null) {
 		  	   	if(data.contents != ""){    
 		  	   		$.each(data.contents, function (idx, el) {
	 		  	   		if(el.anals_data_sect_cd == 'B16001'){
	 		  	   			
	 		  	   			if(el.period_begin_date != null && el.period_end_date != null){
			  		  	   		$("#B16001_period_begin").val(el.period_begin_date);
			  		  	   		$("#B16001_period_end").val(el.period_end_date);
	 		  	   			}else if(el.period_begin_day != null && el.period_end_day != null){
			  		  	   		$("#B16001_period_begin").val(el.period_begin_day);
			  		  	   		$("#B16001_period_end").val(el.period_end_day);
	 		  	   			}else if(el.period_begin_time != null && el.period_end_time != null){
			  		  	   		$("#B16001_period_begin").val(el.period_begin_time);
			  		  	   		$("#B16001_period_end").val(el.period_end_time);
	 		  	   			}else if(el.period_begin_ymd != null && el.period_end_ymd != null){
			  		  	   		$("#single_cal1").val(el.period_begin_ymd);
			  		  	   		$("#single_cal2").val(el.period_end_ymd);
		 		  	   		}
	 		  	   			
	 		  	   		}else if(el.anals_data_sect_cd == 'B17001'){
	 		  	   			
	 		  	   			if(el.period_begin_date != null && el.period_end_date != null){
			  		  	   		$("#B17001_period_begin").val(el.period_begin_date);
			  		  	   		$("#B17001_period_end").val(el.period_end_date);
	 		  	   			}else if(el.period_begin_day != null && el.period_end_day != null){
			  		  	   		$("#B17001_period_begin").val(el.period_begin_day);
			  		  	   		$("#B17001_period_end").val(el.period_end_day);
	 		  	   			}else if(el.period_begin_time != null && el.period_end_time != null){
			  		  	   		$("#B17001_period_begin").val(el.period_begin_time);
			  		  	   		$("#B17001_period_end").val(el.period_end_time);
	 		  	   			}else if(el.period_begin_ymd != null && el.period_end_ymd != null){
			  		  	   		$("#single_cal3").val(el.period_begin_ymd);
			  		  	   		$("#single_cal4").val(el.period_end_ymd);
		 		  	   		}	 		  	   			
	 		  	   			
	 		  	   		}else if(el.anals_data_sect_cd == 'B17002'){
	 		  	   			
	 		  	   			if(el.period_begin_date != null && el.period_end_date != null){
			  		  	   		$("#B17002_period_begin").val(el.period_begin_date);
			  		  	   		$("#B17002_period_end").val(el.period_end_date);
	 		  	   			}else if(el.period_begin_day != null && el.period_end_day != null){
			  		  	   		$("#B17002_period_begin").val(el.period_begin_day);
			  		  	   		$("#B17002_period_end").val(el.period_end_day);
	 		  	   			}else if(el.period_begin_time != null && el.period_end_time != null){
			  		  	   		$("#B17002_period_begin").val(el.period_begin_time);
			  		  	   		$("#B17002_period_end").val(el.period_end_time);
	 		  	   			}else if(el.period_begin_ymd != null && el.period_end_ymd != null){
			  		  	   		$("#single_cal5").val(el.period_begin_ymd);
			  		  	   		$("#single_cal6").val(el.period_end_ymd);
		 		  	   		}
		 		  	   		
	 		  	   		}else if(el.anals_data_sect_cd == 'B17003'){
	 		  	   			
	 		  	   			if(el.period_begin_date != null && el.period_end_date != null){
			  		  	   		$("#B17003_period_begin").val(el.period_begin_date);
			  		  	   		$("#B17003_period_end").val(el.period_end_date);
	 		  	   			}else if(el.period_begin_day != null && el.period_end_day != null){
			  		  	   		$("#B17003_period_begin").val(el.period_begin_day);
			  		  	   		$("#B17003_period_end").val(el.period_end_day);
	 		  	   			}else if(el.period_begin_time != null && el.period_end_time != null){
			  		  	   		$("#B17003_period_begin").val(el.period_begin_time);
			  		  	   		$("#B17003_period_end").val(el.period_end_time);
	 		  	   			}else if(el.period_begin_ymd != null && el.period_end_ymd != null){
			  		  	   		$("#single_cal7").val(el.period_begin_ymd);
			  		  	   		$("#single_cal8").val(el.period_end_ymd);
		 		  	   		}
		 		  	   		
	 		  	   		}
 		  	   		});    
 		  	   	}
	  	   		
 		  	}
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });	
        
}

//샌드박스 분석방식 상세조회
const sandboxAnalysisMethodDetail = function(){
	
	const data = {
       		url: '/services/sandbox/sandboxes/{{sandbox_id}}/analysis-method/detail',
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',	            		
        };		
        $.ajax({
            type: 'POST',
            url: url+'/sandboxAnalysisMethodDetail',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
 		  	if (data != null) {
 		  	   	if(data.contents != ""){    
 		  	   		$("input:radio[id='"+data.contents.anals_period_dfn_cd+"']").prop("checked", true); 
 		  	   		div_show(data.contents.anals_period_dfn_cd);
 		  	   		
 		  	   		$("#commonCodeBatchCycle").val(data.contents.anals_period_cd);
 		  	   		selCodeBatchCycle(data.contents.anals_period_cd);
 		  	   		$("#anals_period_dtl_value").val(data.contents.anals_period_dtl_value);
 		  	   		
 		  	   		$("#single_cal").val(data.contents.batch_exec_begin_date);
 		  	   		$("input:radio[id='"+data.contents.anals_kind_cd+"']").prop("checked", true); 
	 		  	   	div_sub_show(data.contents.anals_kind_cd);
 		  	   	}
 		  	}
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });	
        
        sandboxAnalysisTableDatasetDetail();
}

//샌드박스 분석방식 상세조회 - 학습 데이터 개수 조회
const sandboxAnalysisImageDatasetGet = function(){
	const data = {
       		url: '/services/sandbox/sandboxes/{{sandbox_id}}/analysis-method/analysis-images/get',
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',	            		
        };		
        $.ajax({
            type: 'POST',
            url: url+'/sandboxAnalysisImageDatasetGet',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
 		  	if (data != null) {
 		  	   	if(data.contents != ""){    	    
					$("#sandboxAnalysisImageDatasetGet").empty();
	     	        let insertTr = '';
			  	    $.each(data.contents, function (idx, el) {
		                  insertTr += '<tr>';
		                  insertTr += ' <td class="first" style="text-align: center;">'+el.anals_target_image_dataset_id+'</td>';
		                  insertTr += ' <td style="text-align: center;">'+el.anals_data_sect_nm+'</td>';
		                  insertTr += ' <td style="text-align: center;">'+el.train_cnt+'</td>';
		                  insertTr += ' <td style="text-align: center;"><input type="text" id="file_cnt_B17001_'+el.anals_target_image_dataset_id+'" name="file_cnt" id="" value="" onKeyup=this.value=this.value.replace(/[^0-9]/g,"");></td>';
		                  insertTr += '</tr>';
		                  insertTr += '<tr>';
				    });     	
          	   	    $("#sandboxAnalysisImageDatasetGet").append(insertTr);
 		  	   	}
 		  	   	
 		  	}
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });	
}

//분석 방식 선택 임시저장 & 저장 & 수정
const sandboxAnalysisMethodUpdate = function(val){

	let confirmMsg = '';
	if(val == progressCd1){	//임시 저장
		confirmMsg = '임시저장 하시겠습니까?';
	}else{
		confirmMsg = '등록 하시겠습니까?';
	}
	
	let commonCodeAnalysisCycleSetting = $("input[name='commonCodeAnalysisCycleSetting']:checked").val();
	let commonCodeAnalysisKind = $("input[name='commonCodeAnalysisKind']:checked").val();
	let batch_exec_begin_date = $('input[name=batch_exec_begin_date]').val();
	let commonCodeBatchCycle = $("#commonCodeBatchCycle").val();
	let anals_period_dtl_value = $("#anals_period_dtl_value").val();
	
	if(commonCodeAnalysisCycleSetting == ''){
		alert("샌드박스 분석 주기 정의를 선택해주세요!");
		return;
	} 	
	if(commonCodeAnalysisKind == ''){
		alert("분석 종류를 선택해주세요!");
		return;
	} 	
	
	let time_sequential_data_batch_info = new Array();
	let dataObject = new Object();
	
	// 1회성
	if(commonCodeAnalysisCycleSetting == 'B09001'){
		
		// 분석 
		if(commonCodeAnalysisKind == 'B05001'){
			
			dataObject = new Object();
			dataObject.anals_data_sect_cd = 'B16001';
			dataObject.period_begin_ymd = $("#single_cal1").val();
			dataObject.period_end_ymd = $("#single_cal2").val();			
			time_sequential_data_batch_info.push(dataObject);
			
		// 재학습	
		}else if(commonCodeAnalysisKind == 'B05002'){
			
			dataObject = new Object();
			dataObject.anals_data_sect_cd = 'B17001';
			dataObject.period_begin_ymd = $("#single_cal3").val();
			dataObject.period_end_ymd = $("#single_cal4").val();	
			time_sequential_data_batch_info.push(dataObject);
			
			dataObject = new Object();
			dataObject.anals_data_sect_cd = 'B17002';
			dataObject.period_begin_ymd = $("#single_cal5").val();
			dataObject.period_end_ymd = $("#single_cal6").val();	
			time_sequential_data_batch_info.push(dataObject);
			
			dataObject = new Object();
			dataObject.anals_data_sect_cd = 'B17003';
			dataObject.period_begin_ymd = $("#single_cal7").val();
			dataObject.period_end_ymd = $("#single_cal8").val();	
			time_sequential_data_batch_info.push(dataObject);
			
		// 분석 + 재학습
		}else if(commonCodeAnalysisKind == 'B05003'){
			
			dataObject = new Object();
			dataObject.anals_data_sect_cd = 'B16001';
			dataObject.period_begin_ymd = $("#single_cal1").val();
			dataObject.period_end_ymd = $("#single_cal2").val();	
			time_sequential_data_batch_info.push(dataObject);
			
			dataObject = new Object();
			dataObject.anals_data_sect_cd = 'B17001';
			dataObject.period_begin_ymd = $("#single_cal3").val();
			dataObject.period_end_ymd = $("#single_cal4").val();	
			time_sequential_data_batch_info.push(dataObject);
			
			dataObject = new Object();
			dataObject.anals_data_sect_cd = 'B17002';
			dataObject.period_begin_ymd = $("#single_cal5").val();
			dataObject.period_end_ymd = $("#single_cal6").val();	
			time_sequential_data_batch_info.push(dataObject);
			
			dataObject = new Object();
			dataObject.anals_data_sect_cd = 'B17003';
			dataObject.period_begin_ymd = $("#single_cal7").val();
			dataObject.period_end_ymd = $("#single_cal8").val();	
			time_sequential_data_batch_info.push(dataObject);
		}
		
	// 주기성(배치성)
	}else if(commonCodeAnalysisCycleSetting == 'B09002'){
		//매달 
		if(commonCodeBatchCycle == 'B10001'){
			// 분석 
			if(commonCodeAnalysisKind == 'B05001'){
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B16001';
				dataObject.period_begin_date = $("#B16001_period_begin").val();
				dataObject.period_end_date = $("#B16001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
			// 재학습	
			}else if(commonCodeAnalysisKind == 'B05002'){
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17001';
				dataObject.period_begin_date = $("#B17001_period_begin").val();
				dataObject.period_end_date = $("#B17001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17002';
				dataObject.period_begin_date = $("#B17002_period_begin").val();
				dataObject.period_end_date = $("#B17002_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17003';
				dataObject.period_begin_date = $("#B17003_period_begin").val();
				dataObject.period_end_date = $("#B17003_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
			// 분석 + 재학습
			}else if(commonCodeAnalysisKind == 'B05003'){
		
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B16001';
				dataObject.period_begin_date = $("#B16001_period_begin").val();
				dataObject.period_end_date = $("#B16001_period_end").val();
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17001';
				dataObject.period_begin_date = $("#B17001_period_begin").val();
				dataObject.period_end_date = $("#B17001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17002';
				dataObject.period_begin_date = $("#B17002_period_begin").val();
				dataObject.period_end_date = $("#B17002_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17003';
				dataObject.period_begin_date = $("#B17003_period_begin").val();
				dataObject.period_end_date = $("#B17003_period_end").val();					
				time_sequential_data_batch_info.push(dataObject);
			}
		//매주
		}else if(commonCodeBatchCycle == 'B10002'){
			// 분석 
			if(commonCodeAnalysisKind == 'B05001'){
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B16001';
				dataObject.period_begin_day = $("#B16001_period_begin").val();
				dataObject.period_end_day = $("#B16001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
			// 재학습	
			}else if(commonCodeAnalysisKind == 'B05002'){
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17001';
				dataObject.period_begin_day = $("#B17001_period_begin").val();
				dataObject.period_end_day = $("#B17001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17002';
				dataObject.period_begin_day = $("#B17002_period_begin").val();
				dataObject.period_end_day = $("#B17002_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17003';
				dataObject.period_begin_day = $("#B17003_period_begin").val();
				dataObject.period_end_day = $("#B17003_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
			// 분석 + 재학습
			}else if(commonCodeAnalysisKind == 'B05003'){
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B16001';
				dataObject.period_begin_day = $("#B16001_period_begin").val();
				dataObject.period_end_day = $("#B16001_period_end").val();
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17001';
				dataObject.period_begin_day = $("#B17001_period_begin").val();
				dataObject.period_end_day = $("#B17001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17002';
				dataObject.period_begin_day = $("#B17002_period_begin").val();
				dataObject.period_end_day = $("#B17002_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17003';
				dataObject.period_begin_day = $("#B17003_period_begin").val();
				dataObject.period_end_day = $("#B17003_period_end").val();
				time_sequential_data_batch_info.push(dataObject);
				
			}
		//매일
		}else if(commonCodeBatchCycle == 'B10003'){
			// 분석 
			if(commonCodeAnalysisKind == 'B05001'){
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B16001';
				dataObject.period_begin_time = $("#B16001_period_begin").val();
				dataObject.period_end_time = $("#B16001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
			// 재학습	
			}else if(commonCodeAnalysisKind == 'B05002'){
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17001';
				dataObject.period_begin_time = $("#B17001_period_begin").val();
				dataObject.period_end_time = $("#B17001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17002';
				dataObject.period_begin_time = $("#B17002_period_begin").val();
				dataObject.period_end_time = $("#B17002_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17003';
				dataObject.period_begin_time = $("#B17003_period_begin").val();
				dataObject.period_end_time = $("#B17003_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
			// 분석 + 재학습
			}else if(commonCodeAnalysisKind == 'B05003'){
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B16001';
				dataObject.period_begin_time = $("#B16001_period_begin").val();
				dataObject.period_end_time = $("#B16001_period_end").val();
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17001';
				dataObject.period_begin_time = $("#B17001_period_begin").val();
				dataObject.period_end_time = $("#B17001_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17002';
				dataObject.period_begin_time = $("#B17002_period_begin").val();
				dataObject.period_end_time = $("#B17002_period_end").val();	
				time_sequential_data_batch_info.push(dataObject);
				
				dataObject = new Object();
				dataObject.anals_data_sect_cd = 'B17003';
				dataObject.period_begin_time = $("#B17003_period_begin").val();
				dataObject.period_end_time = $("#B17003_period_end").val();
				time_sequential_data_batch_info.push(dataObject);
				
			}
		}
	}
	
	const data = {
       		url: '/services/sandbox/sandboxes/{{sandbox_id}}/analysis-method/update',
       		anals_use_prpos_cd:	'{{anals_use_prpos_cd}}',
       		anals_period_dfn_cd: commonCodeAnalysisCycleSetting,	
       		anals_period_cd: commonCodeBatchCycle,	
       		anals_period_dtl_value: anals_period_dtl_value,	
       		anals_kind_cd: commonCodeAnalysisKind,	
       		batch_exec_begin_date: batch_exec_begin_date,	
       		anals_method_status_cd: val,	
       		modifier_id: 'modifier_id',		
       		user_id: 'user00',		
       		menu_id: 'menu_id',	 	
       		time_sequential_data_batch_info : time_sequential_data_batch_info,
        };		
	
	console.log(JSON.stringify(data));
	
	if(confirm(confirmMsg)){
        $.ajax({
            type: 'POST',
            url: url+'/sandboxAnalysisMethodUpdate',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
      		let message = JSON.stringify(data.return_msg);
      		alert(message.replace(/\"/gi, ''));    	  

        }).fail(function (error) {
            alert(JSON.stringify(error));
        });		
	}
}

//샌드박스 생성
const sandboxCreate = function(){
	
	let regstCd = '';
	let confirmMsg = '생성 요청 하시겠습니까?';
	
	const data = {
       		url: '/services/sandbox/sandboxes/{{sandbox_id}}/create-request',
       		modifier_id: 'modifier_id',		
       		approver_id: 'approver_id',		
       		user_id: 'user00',		
       		menu_id: 'menu_id',	 	
        };		
	
	console.log(JSON.stringify(data));
	
	if(confirm(confirmMsg)){
        $.ajax({
            type: 'POST',
            url: url+'/sandboxCreate',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
      		let message = JSON.stringify(data.return_msg);
      		alert(message.replace(/\"/gi, ''));    	  

        }).fail(function (error) {
            alert(JSON.stringify(error));
        });		
	}
}

//샌드박스 삭제
const sandboxDelete = function () {
		
	const data = {
   		url: '/services/sandbox/sandboxes/{{sandbox_id}}/delete',
   		user_id: 'user00',	
   		menu_id: 'menu_id',
    };		
    $.ajax({
        type: 'POST',
        url: url+'/sandboxDelete',
        dataType: 'json',
        contentType: 'application/json; charset-utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
  		let message = JSON.stringify(data.return_msg);
  		alert(message.replace(/\"/gi, ''));
  		list();
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//div 초기화
const div_main = function(){
	
	$("#div_B09002_B05001").hide();
	$("#div_B09002_B05002").hide();		
	$("#div_B09001_B05001").hide();
	$("#div_B09001_B05002").hide();		
}
//div 상태
const div_show = function(val){
	
	div_main();	
	$("input:radio[name='commonCodeAnalysisKind']").prop('checked', false);
	
	if(val == 'B09001'){
		$("#div_B09002").hide();
	}else if(val == 'B09002'){
		$("#div_B09002").show();
		
		today('single_cal');
	}
}

//div 하위 상태
const div_sub_show = function(val){
	
	div_main();
	let commonCodeAnalysisCycleSetting = $("input[name='commonCodeAnalysisCycleSetting']:checked").val();
	
	//1회성
	if(commonCodeAnalysisCycleSetting == 'B09001'){
		//분석
		if(val == 'B05001'){
			$("#div_B09001_B05001").show();
			$("#div_B09001_B05002").hide();
			
			prevDay(0, 6, 'single_cal1','single_cal2');
		//재학습
		}else if(val == 'B05002'){
			prevDay(0, 6, 'single_cal3','single_cal4');
			prevDay(7, 14, 'single_cal5','single_cal6');
			prevDay(15, 22, 'single_cal7','single_cal8');
			$("#div_B09001_B05001").hide();
			$("#div_B09001_B05002").show();
		//분석 + 재학습
		}else{
			prevDay(0, 6, 'single_cal1','single_cal2');
			prevDay(0, 6, 'single_cal3','single_cal4');
			prevDay(7, 14, 'single_cal5','single_cal6');
			prevDay(15, 22, 'single_cal7','single_cal8');
			
			$("#div_B09001_B05001").show();
			$("#div_B09001_B05002").show();
		}
		
	//주기성(배치성)	
	}else if(commonCodeAnalysisCycleSetting == 'B09002'){
		//분석
		if(val == 'B05001'){
			$("#div_B09002_B05001").show();
			$("#div_B09002_B05002").hide();
		//재학습
		}else if(val == 'B05002'){
			$("#div_B09002_B05001").hide();
			$("#div_B09002_B05002").show();
		//분석 + 재학습				
		}else{
			$("#div_B09002_B05001").show();
			$("#div_B09002_B05002").show();
		}
		
	}

}

//진행상태 표시 바
const progressBar = function(){
	let sandbox_setup_status_cd = $("#sandbox_setup_status_cd").val();
	let scenario_setup_status_cd = $("#scenario_setup_status_cd").val();
	let anals_method_status_cd = $("#anals_method_status_cd").val();
	let last_status_cd = $("#last_status_cd").val();
	let sandbox_status_cd = $("#sandbox_status_cd").val();
	
	if(sandbox_setup_status_cd == progressCd1){
		$("#ps1").addClass("temporary_storage");
	}else if(sandbox_setup_status_cd == progressCd2){
		$("#ps1").addClass("save");
	}
	
	if(scenario_setup_status_cd == progressCd1){
		$("#ps2").addClass("temporary_storage");
	}else if(scenario_setup_status_cd == progressCd2){
		$("#ps2").addClass("save");
	}
	
	if(anals_method_status_cd == progressCd1){
		$("#ps3").addClass("temporary_storage");
	}else{
		$("#ps3").addClass("now_depth");
	}
	
	//반려
	if(last_status_cd == progressCd2 && sandbox_status_cd == 'B07002'){
		$("#btn_B06002_2").show();
	}
	//승인
	if((last_status_cd == progressCd2 && sandbox_status_cd == 'B07002') || (last_status_cd == progressCd2 && sandbox_status_cd == 'B07006')){
		$("#btn_B06002_1").show();
	}
	//임시저장, 등록
	if(sandbox_status_cd != 'B07005'){
		$("#btn_B06001").show();
		$("#btn_B06002").show();
	}
	
}

//샌드박스 단계별 등록 상태
const sandboxEnrollStatus = function(){
	const data = {
       		url: '/services/sandbox/sandboxes/{{sandbox_id}}/enroll-status',
       		user_id: 'user00',	
       		menu_id: 'menu_id',
       	};		
        $.ajax({
            type: 'POST',
            url: url+'/sandboxEnrollStatus',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
        	
   	    	if(data.contents != ""){
   	    		$("#sandbox_setup_status_cd").val(data.contents.sandbox_setup_status_cd);
   	    		$("#scenario_setup_status_cd").val(data.contents.scenario_setup_status_cd);
   	    		$("#anals_method_status_cd").val(data.contents.anals_method_status_cd);
   	    		$("#last_status_cd").val(data.contents.last_status_cd);
   	    		$("#sandbox_status_cd").val(data.contents.sandbox_status_cd);      	    		
   	    		progressBar();
   	    	}
   	    	
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });	
}

//분석 시나리오 관리
const list = function(){
	location.href = url+'/list';
}

//샌드박스 설정
const step1 = function(){
	location.href = url+'/update_step1/{{sandbox_id}}';
}
//시나리오 선택
const step2 = function(){
	location.href = url+'/update_step2/{{sandbox_id}}/{{anals_use_prpos_cd}}';
}
//분석 방식 선택
const step3 = function(){
	location.href = url+'/update_step3/{{sandbox_id}}/{{anals_use_prpos_cd}}/{{cd}}';
}	


//초기 호출
const initMain = function(){
	commonCodeAnalysisCycleSetting();
	commonCodeAnalysisKind();
	commonCodeBatchCycle();
	commonCodeImagesDatasetsCode();
	div_main();
	$("#div_B09002").hide();	
	
}

initMain();
sandboxEnrollStatus();
sandboxAnalysisMethodDetail();
</script>